# Meta data
.DS_STORE
.idea

# Jacobine application
app/config/config.jacobine.xml

Config/cvsanaly-config
Config/gerrit-review.typo3.org.yml
Config/id_rsa
Config/id_rsa.pub
tools

# Docs
docs/_build/

# Composer
bin/
vendor/
