<?xml version="1.0" encoding="UTF-8"?>
<container xmlns="http://symfony.com/schema/dic/services" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <imports>
        <import resource="config.server.xml" />
        <import resource="config.logger.xml" />
        <import resource="config.application.xml" />
        <import resource="config.jacobine.xml" />
    </imports>

    <parameters>
        <!-- Jacobine -->
        <parameter key="application.name">Jacobine</parameter>
        <parameter key="application.version">0.2.0-dev</parameter>
    </parameters>

</container>
