RabbitMQ:
  Host: localhost
  Port: 5672
  Username: analysis
  Password: analysis
  VHost: analysis

MySQL:
  Host: localhost
  Port: 3306
  Username: root
  Password:

Logging:
  Consumer:
    LogPath: /var/log/analysis/
    Logger:
      Console:
        Class: SymfonyConsoleHandler
      Stream:
        Class: StreamHandler
        Path: /var/log/analysis/
      ErrorStream:
        Class: StreamHandler
        Path: /var/log/analysis/
        MinLogLevel: Error

Application:
  Git:
    Binary: /usr/bin/git
  PHPLoc:
    Binary: /var/www/analysis/vendor/phploc/phploc/composer/bin/phploc
    FilePattern: "*.php,*.inc"
  PDepend:
    Binary: /var/www/analysis/vendor/pdepend/pdepend/src/bin/pdepend
    FilePattern: "*.php,*.inc"
  CVSAnaly:
    Binary: /var/www/analysis/tools/MetricsGrimoire/CVSAnalY/cvsanaly2
  GithubLinguist:
    WorkingDir: /var/www/analysis/tools/github-linguist

Various:
  Requests:
    Timeout: 20

Projects:
  TYPO3:
    MySQL:
      Database: typo3
    RabbitMQ:
      Exchange: TYPO3
    ReleasesPath: /var/www/analysis-data/TYPO3/releases
    GitCheckoutPath: /var/www/analysis-data/TYPO3/git
    Gitweb: https://git.typo3.org/
    Gerrit:
      ConfigFile: gerrit-review.typo3.org.yml
    CVSAnaly:
      ConfigFile: cvsanaly-config
    NNTP:
      Host: lists.typo3.org
