Logging:
  Consumer:
    Logger:
      Console:
        Class: SymfonyConsoleHandler
      Stream:
        Class: StreamHandler
        Path: /var/log/analysis/
      ErrorStream:
        Class: StreamHandler
        Path: /var/log/analysis/
        MinLogLevel: Error

Various:
  Requests:
    Timeout: 20
  Downloads:
    Timeout: 3600

Projects:
  TYPO3:
    MySQL:
      Database: jacobine
    RabbitMQ:
      Exchange: JacobineAnalysis
    ReleasesPath: /var/www/analysis-data/TYPO3/releases
    GitCheckoutPath: /var/www/analysis-data/TYPO3/git
    Gitweb: https://git.typo3.org/
    Gerrit:
      ConfigFile: gerrit-review.typo3.org.yml
    CVSAnaly:
      ConfigFile: cvsanaly-config
    PDepend:
      ConfigFile: pdepend.xml
    Mailinglist:
      Host: http://lists.typo3.org/
    Consumer:
      Download\HTTP:
        DownloadPrefix: typo3_
        DownloadPostfix: .tar.gz
      Extract\Targz:
        TargetFolderPrefix: typo3_src-
