RabbitMQ:
  Host: 192.168.33.55
  Port: 5672
  Username: analysis
  Password: analysis
  VHost: analysis

MySQL:
  Host: localhost
  Port: 3306
  Username: root
  Password:

Logging:
  Consumer:
    Logger:
      Console:
        Class: SymfonyConsoleHandler
      Stream:
        Class: StreamHandler
        Path: /var/log/analysis/
      ErrorStream:
        Class: StreamHandler
        Path: /var/log/analysis/
        MinLogLevel: Error

Application:
  Tar:
    Binary: /bin/tar
    Timeout: 600
  Git:
    Binary: /usr/bin/git
  PHPLoc:
    Binary: /var/www/analysis/vendor/phploc/phploc/composer/bin/phploc
    FilePattern: "*.php,*.inc"
    Timeout: 1200
  PDepend:
    Binary: /var/www/analysis/vendor/pdepend/pdepend/src/bin/pdepend
    FilePattern: "php,inc"
  CVSAnaly:
    Binary: /usr/local/bin/cvsanaly2
    Extensions: Months, Weeks
  GithubLinguist:
    WorkingDir: /var/www/analysis/tools/github-linguist

Various:
  Requests:
    Timeout: 20
  Downloads:
    Timeout: 3600

Projects:
  TYPO3:
    MySQL:
      Database: jacobine
    RabbitMQ:
      Exchange: JacobineAnalysis
    ReleasesPath: /var/www/analysis-data/TYPO3/releases
    GitCheckoutPath: /var/www/analysis-data/TYPO3/git
    Gitweb: https://git.typo3.org/
    Gerrit:
      ConfigFile: gerrit-review.typo3.org.yml
    CVSAnaly:
      ConfigFile: cvsanaly-config
    NNTP:
      Host: lists.typo3.org
    Consumer:
      Download\HTTP:
        DownloadPrefix: typo3_
        DownloadPostfix: .tar.gz
      Extract\Targz:
        TargetFolderPrefix: typo3_src-
